.orderBlock {
  top: 0;
  right: 0;
  position: fixed;
}
.order {
  width: 60px;
  background-color: #1b1a20;
}
.basket {
  width: 30px;
  height: 60px;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiCwwQEgYn7+gWAAABQklEQVRIx9WTsUoDQRRF72xMYSFokcRCjBFESGWRwtZe8AtEFFNrI1bB0tLGQuzs/AJB8AO2kZRCxBiRQNKIoIYoyLFwCZuss9nNgpBXzc7be3j3zow09mU48321zVF8gNtbZ5Q1UwmGYQPIxFU5vnVdUuHfARO+OD5oa9GzM6NcbICkem+CLZ0kA1zKHQ2w6tlpqRUN4AwA5knFiTAISGsuHqDfwoOkgp4kUkoP1WI+Azt02ZYk9hle3cAEBh69c7iKEOJ30IJU/71KpqbaKCH6b0LEGgTcaYXpeIj+GJf54pyI70CSTACxq1M5ehmqvDCHfwIkFrQW4S1WzXUCq+E5lNhkMqSfo0ze3t7hlWeqIfJ3GnQo2n644ZhZYMnSL9OQcKnYAHs0ueUeY+nn6eDyRskGcFjngGxIBkUqVvk41g+oBJ136GBf8AAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0xMS0xMlQxNjoxODowNiswMTowMEVm3zEAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMTEtMTJUMTY6MTg6MDYrMDE6MDA0O2eNAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==");
}
.cart {
  margin-right: 400px;
  width: 100%;
  margin-top: -20px;
  text-align: center;
  color: white;
  background-color: #1b1a20;
  padding-top: 50px;
  display: inline-block;
  height: 600px;
}
.custom {
  margin-right: 100px;
  display: inline-block;
  font-size: 25px;
  margin-left: 20px;
}
.logo {
  width: 40px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiCwwQEgYn7+gWAAABQklEQVRIx9WTsUoDQRRF72xMYSFokcRCjBFESGWRwtZe8AtEFFNrI1bB0tLGQuzs/AJB8AO2kZRCxBiRQNKIoIYoyLFwCZuss9nNgpBXzc7be3j3zow09mU48321zVF8gNtbZ5Q1UwmGYQPIxFU5vnVdUuHfARO+OD5oa9GzM6NcbICkem+CLZ0kA1zKHQ2w6tlpqRUN4AwA5knFiTAISGsuHqDfwoOkgp4kUkoP1WI+Azt02ZYk9hle3cAEBh69c7iKEOJ30IJU/71KpqbaKCH6b0LEGgTcaYXpeIj+GJf54pyI70CSTACxq1M5ehmqvDCHfwIkFrQW4S1WzXUCq+E5lNhkMqSfo0ze3t7hlWeqIfJ3GnQo2n644ZhZYMnSL9OQcKnYAHs0ueUeY+nn6eDyRskGcFjngGxIBkUqVvk41g+oBJ136GBf8AAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0xMS0xMlQxNjoxODowNiswMTowMEVm3zEAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMTEtMTJUMTY6MTg6MDYrMDE6MDA0O2eNAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==");
}
.close {
  color: white;
  background-color: #1b1a20;
  border: 0;
  font-size: 15px;
  text-align: left;
  display: inline-block;
  margin-right: 500px;
  padding: 16px;
  font-size: 20px;
  position: absolute;
}
.close:hover {
  background-color: rgb(223, 50, 50);
}
.content {
  text-align: left;
  margin-top: 50px;
  overflow-y: scroll;
  max-height: 400px;
}
.img {
  margin-left: 40px;
  width: 120px;
  height: 174px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
}
.title {
  display: inline-block;
  padding-left: 20px;
}
.text1 {
  font-size: 20px;
}
.text2 {
  font-size: 15px;
  color: #5b5a5e;
}
.submit {
  height: 127px;
  width: 100%;
  background-color: #0d0c0f;
  color: #5b5a5e;
  position: absolute;
  margin-right: 20px;
}
.subtotal {
  margin-left: 20px;
  font-size: 17px;
}
.fullAmount {
  color: #eabf00;
  font-size: 22px;
  margin: 0;
  text-align: right;
  margin-top: -40px;
  margin-right: 20px;
}
.line {
  background-color: #2d2c2f;
  border-radius: 20px;
  margin-bottom: 30px;
  height: 2px;
  width: 90%;
  margin-left: 5%;
}
.price {
  color: #eabf00;
}
.amount {
  display: inline-block;
  text-align: right;
}
.submit button {
  background-color: #080808;
  color: white;
  border: 0;
  height: 50px;
  width: 50%;
  margin-left: 25%;
}
.submit button:hover {
  background-color: #000;
}
